/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

logo_image {
  background-image: image-url("top.jpg");
}

.recommend-items {
  position: relative;
  color: #fff;
  background: #000000;
  line-height: 1.4;
  padding: 0.25em 0.5em;
  margin: 2em 0 0.5em;
  border-radius: 0 5px 5px 5px;
}

.recommend-items:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f00c Check';
  background: #000000;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 3px 7px 1px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em
}

.new-arrival {
  position: relative;
  color: #fff;
  background: #000000;
  line-height: 1.4;
  padding: 0.25em 0.5em;
  margin: 2em 0 0.5em;
  border-radius: 0 5px 5px 5px;
}

.new-arrival:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f00c Check';
  background: #000000;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 3px 7px 1px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em
}

.jumbotron {
  background-image: image-url("tsushima.png");
  color: #fff;
  // background-image: rgba(255,255,255,0.8);
  // background-blend-mode:lighten;
  // color: #000000;
}

.body {
  background-image: image-url("bcg3.png");
}

.recommended-item {
  background-color: #fff;
}

.new-items {
  background-color: #fff;
}

.favorite-body {
  background-image: image-url("bcg3.png");
}

// .favorite-items {
//   background-color: #fff;
// }

.users-body {
  background-image: image-url("bcg3.png");
}

.item-image {
  text-align: center;
}

.item-text {
  text-align: center;
}

.user_image {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  100px;       /* ※縦横を同値に */
  height: 100px;       /* ※縦横を同値に */
}

.favorite_image {
  margin-left: 120px;
}

.page-top {
  display: flex;
}

.site {
  margin-left: 500px;
  font-family: "cursive";
}

.game_item-body {
  background-image: image-url("bcg3.png");
}

.game_show_body {
  background-image: image-url("bcg3.png");
}

.new_post {
  position: fixed;
  left: 220px;
  bottom: 350px;
}

.top_new_post {
  position: fixed;
  left: 220px;
  bottom: 230px;
}

.favorite_post {
  position: fixed;
  left: 220px;
  bottom: 150px;
}